---
import Instagram from "../components/Instagram.astro";
import FirstSection from "../components/sections/FirstSection.astro";
import Footer from "../components/sections/Footer.astro";
import Hero from "../components/sections/Hero.astro";
import SecondSection from "../components/sections/SecondSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="West Burger ðŸ”ðŸŸðŸ¥¤">
	<header>
		<Hero />
	</header>
	<main>
		<FirstSection />
		<SecondSection />
		<Instagram />
	</main>
	<footer>
		<Footer/>
	</footer>
</Layout>

<style></style>
