.spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.spinner {
	border: 1rem solid rgba(0, 0, 0, 0.1);
	border-left-color: red;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	animation: spin 1s linear infinite;
}
.sucursal-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.map-container {
	height: 100%;
	width: 100%;
	padding-inline: 2rem;
}

.map {
	width: 100%;
	height: 100%;
}

.map-section {
	background-color: #f5f5f5;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.map-section article {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

select {
	font-size: 1.25rem;
	padding: 0.5rem 1rem;
	margin: 0.5rem 0;
	width: 100%;
	cursor: pointer;
	border: red 2px solid;
	filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.1));
}


@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.order {
	border: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 700;
	transition: 0.5s;
	transition-property: box-shadow;
	background: red;
	box-shadow: 0 0 5px red;
	padding: 0.5rem 1rem;
	margin: 0.5rem;
}

.order:hover {
	box-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red, 0 0 25px red;
}
